:host {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
.container{
  padding: 20px;
}
.radio-container{
  margin-top: 10px;
  font-size: inherit;
  font-weight: 400;
  line-height: 1.125;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  letter-spacing: normal;
}
.radio-contents{
  display: inline-block;
    width: 40%;
}
.example-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
  }
  
  .example-full-width {
    width: 100%;
  }
  